body {
    padding: 0;
    margin: 0;
    /*background-color: #eeeded;*/
    background-color: #ffffff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.menu {
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    border-bottom: outset;
}

.menu-flex {
    display: flex;
    align-items: center;
}

.menu-column {
    display: flex;
    align-items: center;
    width: 49%;
    justify-content: flex-start;
    gap: 20px;
}

.img-logo {
    width: 130px;
    height: 60px;
}

.menu-column.menu-second-column {
    justify-content: flex-end;
    text-decoration: none;
}

select {
    background-color: #ffffff;
    border: outset;
    height: 30px;
}

.procurar {
    background-color: #05b105;
    color: #ffffff;
    width: 70px;
    height: 25px;
    padding-top: 5px;
    text-align: center;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    align-items: center;
}

.procurar:hover {
    background-color: #027402;
}

.diferenciado {
    background-color: #05b105;
    color: #ffffff;
    width: 100px;
    height: 25px;
    padding-top: 5px;
    text-align: center;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    align-items: center;
}

.diferenciado:hover {
    background-color: #027402;
}



.primeira {
    
    display: flex; 
    flex-direction: column;
    list-style: none;
    width: 207px;
    height: 375px;
    gap: 100px;
    margin-top: 40px;
    flex-wrap: wrap;
    transform: translateX(5%);
    
}

.segunda {
    display: flex; 
    flex-direction: column;
    list-style: none;
    width: 207px;
    height: 375px;
    gap: 5px;
    margin-top: 40px;
    flex-wrap: wrap;
    transform: translateX(-15%);
}

.terceira {
    display: flex; 
    flex-direction: column;
    list-style: none;
    width: 207px;
    height: 375px;
    gap: 5px;
    margin-top: 40px;
    flex-wrap: wrap;
    transform: translateX(-15%);
}

.cachorro {
    margin-right: 10px;
    width: 200px;
    height: 170px;
    border-bottom: outset;
}
    
h3 {
    transform: translateY(-10%);
}


p {
    text-align: center;
    transform: translateY(-10%);
}

.adotar {
    width: 130px;
    height: 40px;
    margin-left: 35px;
    transform: translateY(70%);
    background-color: #05b105;
    color: #ffffff;
    border-style: none;
    border-radius: 5px;
}

.adotar:hover {
    background-color: #027402;
}

li {
    display: flex;
    box-shadow: 10px 10px 10px 10px #ffffff;
    flex-direction: column;
    padding-left: 0px;
    margin-left: 15px;
    border: groove;
    border-color: #C0C0C0;
    width: 200px;
    height: 400px;
}

li:hover {
    border: solid;
}


